#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lightblue;
}


.card {
  padding: 2em;
}

.custom-rounded-navbar {
  border-radius: 25px; /* stärkere Abrundung */
  background-color: #f8f9fa; /* Hintergrundfarbe wie Bootstrap 'bg-light' */
}

.analyse-container{
 text-align: center;
 padding-top : 200px;
 display: flex;
 gap: 32px;
 padding-left: 160px;
 
}