#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lightblue;
}

.card {
  margin-bottom: 2rem; /* Adds space between cards */
}

.custom-rounded-navbar {
  border-radius: 25px; /* stronger rounding */
  background-color: #f8f9fa; /* background color like Bootstrap 'bg-light' */
}

.analyse-container {
  text-align: center;
  padding-top: 50px;
  display: flex;
  gap: 32px;
  justify-content: center; /* Centers the cards if container is wider */
}