.delete-button {
  background-color: red;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.delete-button:hover {
  background-color: darkred;
}

.delete-button:focus {
  outline: none;
}
