.edit-button {
  background-color: #156bb7;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.edit-button:hover {
  background-color: #0d406e;
}

.edit-button:focus {
  outline: none;
}
