#root {
  max-width: 1980px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  background-color: lightblue;
  padding-bottom: 60px;

}

.card {
  margin-bottom: 2rem; /* Adds space between cards */
}

.custom-rounded-navbar {
  border-radius: 25px; /* stronger rounding */
  background-color: #f8f9fa; /* background color like Bootstrap 'bg-light' */
}

.analyse-container {
  text-align: center;
  padding-top: 50px;
  display: flex;
  gap: 32px;
  justify-content: center; 
  flex-direction: row;
}

@media (max-width: 1080px) {
  .analyse-container {
    flex-direction: column; /* Ändert die Flex-Richtung zu Spalte auf kleinen Bildschirmen */
  }
}



.card-img-top {
  width: 100%;  /* Stellt sicher, dass das Bild die Breite der Karte ausfüllt */
  height: 300px; /* Begrenzt die Höhe des Bildes */
  object-fit: cover; /* Sorgt dafür, dass das Bild seine Proportionen behält, während es die gebundenen Maße ausfüllt */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;

}